omegaconf
jieba_fast
pypinyin
opencc
transformers
sentencepiece
onnxruntime
pytorch_lightning
einops
tqdm
librosa
scipy
ffmpeg-python
soundfile
g2p_en
LangSegment
wordsegment
nltk
pyopenjtalk
vector_quantize_pytorch
loralib
einops
torchaudio
gradio==3.50.2
conformer==0.3.2
diffusers==0.25.0
openai-whisper